.table-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-snap-type: y mandatory;
}

.table_body {
  height: calc(100% - 100px);
  overflow-y: auto;
  margin-top: -5px;
  padding-bottom: 90px;
}

.table_header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--bg-color-200-main);
  margin-bottom: -5px;
}

table {
  position: relative;
}

thead {
  position: sticky;
  background-color: var(--bg-color-200-main);
  top: 0;
  left: 0;
  z-index: 1;
  backface-visibility: hidden;
}

.table_body table {
  width: 100%;
}

th {
  color: var(--blue-300-main);
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
}

td {
  font-weight: 300;
  font-size: 0.9rem;
  scroll-snap-align: start;
}

.table_body table td,
.table_body table th {
  padding: 8px;
  text-align: center;
}

.table_body table tbody tr:nth-child(odd) {
  background-color: var(--white);
}
