.sideBar {
  padding-left: 40px;
}

.sideBar a {
  text-decoration: none;
  display: block;
}

.items-links {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
